
/* Partners */

.partner__title {
  font-size: 22px;
  line-height: 27px;
  color: $titleColor;
  margin-bottom: 14px;
}

.partner__section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.partner__section__list_item {
  width: 194px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.icon__bcg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__bcg--red {
  background-color: #ff4e50;
}

.icon__bcg--orange {
  background-color: #ffa507;
}

.icon__bcg--green {
  background-color: #1cd7ad;
}

.icon__bcg--blue {
  background-color: #4e73db;
}

.partner__section__list h4 {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 13px;
}

.partner__section__list p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.partner__section__tumb {
  position: relative;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.partner__section__button {
  font-size: 13.9987px;
  line-height: 17px;
  color: #ff4e50;
  background-color: #ffffff;
  border: none;
  padding: 13px 38px;
  border-radius: 50px;
}
