.hero__button {
  font-size: 13.9987px;
  line-height: 17px;
  color: #ffffff;
  background-color: $buttonColor;
  border: none;
  padding: 13px 38px;
  border-radius: 50px;

  @media screen and (min-widht:768px) {
    width: 228px;
    height: 42px;
  }
}