.partner__section {
  padding-top: 67px;
  padding-bottom: 56px;
  text-align: center;

  @media screen and (min-widht:768px) {
    padding-top: 67px;
    padding-bottom: 56px;
    text-align: center;
     }

     @media screen and (min-widht:1200px) {
        padding-top: 67px;
        padding-bottom: 56px;
        text-align: center;
     }
}